.row {
    max-width: 71.25rem;
    margin: 0 auto;
    margin-bottom: 30rem; 
}

.row:last-child {
  margin-bottom: 0; 
}

.row::after {
  content: "";
  display: table;
  clear: both; 
}

.row [class^="col-"] {
  height: 2rem;
  float: left; 
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 3.75rem; 
}

.row .col-1-of-4 {
   width: calc((100% - (3 * 3.75rem) ) / 4); 
}