.heading-primary {
    color: #eee;
    text-transform: uppercase; 
}

.heading-primary--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 1.25rem;
    margin-bottom: 1.25rem;
}

.heading-primary--sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .4375rem;
    animation: moveInRight 1s ease-out; 
    margin-top: 0.625rem;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    background-image: linear-gradient(to right, #203239, #141E27); 
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); 
}